matplotlib
tqdm
pandas
numba
requests
sympy
PyYAML
pillow
pyloudnorm
pytorch_lightning
setuptools
miditoolkit
uuid
g2p_en
resemblyzer
webrtcvad
pypinyin==0.39.0
textgrid
horology
seaborn
statsmodels
jiwer
pycwt
PyWavelets
openpyxl
music21
pypianoroll
praat-parselmouth
jieba
g2pM
opencv-python
scikit-image